*{background-color:skyblue; margin: 0; padding:0; box-sizing: border-box;}
div{
    
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}
h1{
    color: red;
    background-color:white;
    padding: 30px;
    border-radius: 20px;
}
span{
    background-color:white;
}
a{
    background-color: white;
}
